<!DOCTYPE html>
<html>
<head>
	<title>Contact | My title</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Simple HTML template</h1>
		</div>

		<div id="nav">
			<ul>
				<li><a href="index.html">Home page</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a class="active" href="contact.html">Contact</a></li>
			</ul>
		</div>

		<div id="main">
			<h1>Contact</h1>
			<form>
				<div>
					<label>Name</label>
					<input type="text" name="name">
				</div>
				<br>
				<div>
					<label>Email</label>
					<input type="email" name="">
				</div>
				<br>
				<div>
					<label>Message</label>
					<textarea name="name"></textarea>
				</div>
				<br>
				<button type="submit">Send message</button>
			</form>
		</div>

		<div id="sidebar">
			<h3>Sidebar 4</h3>
			<p>Admiration stimulated cultivated reasonable be projection possession of. Real no near room ye bred sake if some. Is arranging furnished knowledge agreeable so. Fanny as smile up small. It vulgar chatty simple months turned oh at change of. Astonished set expression solicitude way admiration.</p>
		</div>

		<div class="clr"></div>

		<div id="footer">
			<p>Copyright &copy; 2019</p>
		</div>
	</div>
</body>
</html>