<!DOCTYPE html>
<html>
<head>
	<title>Services | My title</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Simple HTML template</h1>
		</div>

		<div id="nav">
			<ul>
				<li><a href="index.html">Home page</a></li>
				<li><a href="about.html">About</a></li>
				<li><a class="active" href="services.html">Services</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>

		<div id="main">
			<h1>Services</h1>
			<ul class="services">
				<li>
					<h3>Service one</h3>
					<p>Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable depending. Timed voice share led his widen noisy young. On weddings believed laughing although material do exercise of. Up attempt offered ye civilly so sitting to. She new course get living within elinor joy. She her rapturous suffering concealed.</p>
					<a href="#">Read more</a>
				</li>

				<li>
					<h3>Service two</h3>
					<p>Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable depending. Timed voice share led his widen noisy young. On weddings believed laughing although material do exercise of. Up attempt offered ye civilly so sitting to. She new course get living within elinor joy. She her rapturous suffering concealed.</p>
					<a href="#">Read more</a>
				</li>

				<li>
					<h3>Service three</h3>
					<p>Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable depending. Timed voice share led his widen noisy young. On weddings believed laughing although material do exercise of. Up attempt offered ye civilly so sitting to. She new course get living within elinor joy. She her rapturous suffering concealed.</p>
					<a href="#">Read more</a>
				</li>	
			</ul>
		</div>

		<div id="sidebar">
			<h3>Sidebar 3</h3>
			<p>Admiration stimulated cultivated reasonable be projection possession of. Real no near room ye bred sake if some. Is arranging furnished knowledge agreeable so. Fanny as smile up small. It vulgar chatty simple months turned oh at change of. Astonished set expression solicitude way admiration.</p>
		</div>

		<div class="clr"></div>

		<div id="footer">
			<p>Copyright &copy; 2019</p>
		</div>
	</div>
</body>
</html>